/* Adjust the styles to make the content section fill the remaining space */
.home-page {
    display: flex;
    padding-top: 5em;
    align-items: center;
    justify-content: center;
    height: 100%
}

.home-text {
    color: white;
    flex: 1; /* Take up equal horizontal space */
    padding: 0 15em 0 9em; /* Add padding for content */
}

.text-1 {
    margin: 0;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    letter-spacing: 4.75px;
}

.text-2 {
    margin: 0;
    font-family: 'Bellefair', sans-serif;
    font-size: 8.2em;
}

.text-3 {
    margin: 0;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 1.7;
}

.img-section {
    margin: 8em 8em 0 8em;
}

.home-img {
    position: relative;
    border: 0 solid #24262F;
    border-radius: 50%;
    height: 12em;
    width: 12em;
    margin: 3.5em;
    cursor: pointer;
    transition: margin 0.3s ease-in, border-width 0.3s ease-in;
}

.home-img:hover {
    margin: 0;
    border: 3.5em solid #24262F;
}

@media only screen and (max-width: 1200px){
    .home-page {
        display: block;
    }

    .home-text {
        padding: 4em 9em 0 9em;
        text-align: center;
    }

    .text-1 {
        margin-bottom: 1em;
        font-size: 1.2em;
        letter-spacing: 3.375px;
    }

    .text-2 {
        font-size: 9.2em;
    }

    .text-3 {
        font-size: 1.1em;
    }

    .img-section {
        margin: 6em 13.5em;
    }

    .home-img {
        height: 15em;
        width: 15em;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}